@font-face {
    font-family: 'icomoonio';
    src: url('https://i.icomoon.io/public/48159919ac/icomoonio/icomoonio.eot');
    font-display: block;
  }
  @font-face {
    font-family: 'icomoonio';
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoonio' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-map:before {
    content: "\e901";
  }
  .icon-guide:before {
    content: "\e901";
  }
  .icon-dualtone:before {
    content: "\e901";
  }
  .icon-enter:before {
    content: "\e900";
  }
  .icon-signin:before {
    content: "\e900";
  }
  .icon-login:before {
    content: "\e900";
  }
  .icon-film:before {
    content: "\e604";
  }
  .icon-import2:before {
    content: "\e038";
  }
  .icon-uniE02C:before {
    content: "\e02c";
  }
  .icon-uniE000:before {
    content: "\e000";
  }
  .icon-uniE001:before {
    content: "\e001";
  }
  .icon-uniE002:before {
    content: "\e002";
  }
  .icon-uniE003:before {
    content: "\e003";
  }
  .icon-uniE005:before {
    content: "\e005";
  }
  .icon-uniE006:before {
    content: "\e006";
  }
  .icon-uniE007:before {
    content: "\e007";
  }
  .icon-uniE008:before {
    content: "\e008";
  }
  .icon-uniE009:before {
    content: "\e009";
  }
  .icon-uniE00A:before {
    content: "\e00a";
  }
  .icon-uniE00B:before {
    content: "\e00b";
  }
  .icon-uniE004:before {
    content: "\e004";
  }
  .icon-uniE00C:before {
    content: "\e00c";
  }
  .icon-uniE00D:before {
    content: "\e00d";
  }
  .icon-uniE00E:before {
    content: "\e00e";
  }
  .icon-uniE00F:before {
    content: "\e00f";
  }
  .icon-uniE010:before {
    content: "\e010";
  }
  .icon-uniE011:before {
    content: "\e011";
  }
  .icon-uniE012:before {
    content: "\e012";
  }
  .icon-uniE013:before {
    content: "\e013";
  }
  .icon-uniE014:before {
    content: "\e014";
  }
  .icon-uniE015:before {
    content: "\e015";
  }
  .icon-uniE016:before {
    content: "\e016";
  }
  .icon-uniE017:before {
    content: "\e017";
  }
  .icon-uniE018:before {
    content: "\e018";
  }
  .icon-uniE019:before {
    content: "\e019";
  }
  .icon-uniE01A:before {
    content: "\e01a";
  }
  .icon-uniE01C:before {
    content: "\e01c";
  }
  .icon-uniE01D:before {
    content: "\e01d";
  }
  .icon-uniE01E:before {
    content: "\e01e";
  }
  .icon-uniE01F:before {
    content: "\e01f";
  }
  .icon-uniE020:before {
    content: "\e020";
  }
  .icon-uniE021:before {
    content: "\e021";
  }
  .icon-uniE01B:before {
    content: "\e01b";
  }
  .icon-uniE022:before {
    content: "\e022";
  }
  .icon-uniE023:before {
    content: "\e023";
  }
  .icon-uniE024:before {
    content: "\e024";
  }
  .icon-uniE025:before {
    content: "\e025";
  }
  .icon-uniE026:before {
    content: "\e026";
  }
  .icon-uniE027:before {
    content: "\e027";
  }
  .icon-uniE028:before {
    content: "\e028";
  }
  .icon-uniE02A:before {
    content: "\e02a";
  }
  .icon-uniE02B:before {
    content: "\e02b";
  }
  .icon-uniE02D:before {
    content: "\e02d";
  }
  .icon-uniE02E:before {
    content: "\e02e";
  }
  .icon-uniE02F:before {
    content: "\e02f";
  }
  .icon-uniE030:before {
    content: "\e030";
  }
  .icon-uniE031:before {
    content: "\e031";
  }
  .icon-uniE032:before {
    content: "\e032";
  }
  .icon-uniE033:before {
    content: "\e033";
  }
  .icon-uniE034:before {
    content: "\e034";
  }
  .icon-uniE035:before {
    content: "\e035";
  }
  .icon-uniE037:before {
    content: "\e037";
  }
  .icon-uniE036:before {
    content: "\e036";
  }
  .icon-uniE03C:before {
    content: "\e03c";
  }
  .icon-uniE039:before {
    content: "\e039";
  }
  .icon-question:before {
    content: "\e029";
  }
  .icon-stack:before {
    content: "\e061";
  }
  .icon-rulers:before {
    content: "\e2ed";
  }
  .icon-liga2:before {
    content: "\e600";
  }
  .icon-screen:before {
    content: "\e601";
  }
  .icon-mobile:before {
    content: "\e602";
  }
  .icon-tablet:before {
    content: "\e603";
  }
  